<head>

</head>
<body>
    <div class = "center" style="background-color: rgb(94, 123, 184); text-align: center; line-height:2">
        City <input type ="text" id = "city">
        <br>Number of rooms <input type ="text" id = "num">
        <br>Accommodation type <select id="type">
        <option value="hotel">Hotel</option>
        <option value="motel">Motel</option>
        </select>
        <br>Facilities: &emsp;
        <input type="checkbox" name="lounge" value="lounge">Lounge &ensp;
        <input type="checkbox" name="gym" value="gym">Gym &ensp;
        <input type="checkbox" name="pool" value="pool">Pool &ensp;
        <br>Check-in date <input type ="text" id = "indate">
        <br>Check-out date <input type ="text" id = "outdate">
        <br>
        <button onclick="submit()">Submit</button>
    </div>

</body>

<form>
  autocomplete="off"
</form>
