<head>

</head>
<body>
    <div class = "center" style="background-color: rgb(94, 123, 184); text-align: center; line-height:2">
      <form action = "/database/cruise" method = "post">
          <table align="center">
              <tr>
              <td align="right">Departure city</td>
              <td align="left"><input type="text" name="departure" /></td>
              </tr>
              <tr>
              <td align="right">Cruise to</td>
              <td align="left"><input type="text" name="destination" /></td>
              </tr>
              <tr>
              <td align="right">Number of guests</td>
              <td align="left"><input type="text" name="num" /></td>
              </tr>
              <tr>
              <td align="right">Month of departure</td>
              <td align="left"><select id ="date" name="date">
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
              </select></td>
              </tr>
          </table>
          <input type="submit" value="Search for cruises">
      </form>
    </div>
</body>
