<!-- for database admin to add employees -->
<head>

</head>
<body>
    <div class = "center" style="background-color: rgb(94, 123, 184); text-align: center; line-height:2">
        FOR ADMIN USE
        <br>
        ID Number <input type ="text" id = "id">
        <br>Name <input type ="text" id = "name">
        <br>Role <input type ="text" id = "role">
        <br>Supervisor ID <input type ="text" id = "supervisor">
        <br>Managed group ID<input type ="text" id = "group">
        <br><button onclick="submit()">Submit</button>
    </div>
</body>

<script>
function submit() {
    var id = document.getElementById("id").value;
    var name = document.getElementById("name").value;
    var role = document.getElementById("role").value;
    var supervisor = document.getElementById("supervisor").value;
    var group = document.getElementById("group").value;
    document.getElementById("lgnBtn").textContent = id + name + role + supervisor + group;
    document.getElementById("lgnBtn").style.color = "white";
    document.getElementById("lgnBtn").style.padding = "14px";
}
</script>
