<head>

</head>
<body>
    <div class = "center" style="background-color: rgb(94, 123, 184); text-align: center; line-height:2">
      Group ID <input type ="text" id = "id">
      <br>Source Location ID <input type ="text" id = "src">
      <br>Destination Location ID <input type ="text" id = "dst">
      <br>Transport Type <input type ="text" id = "transport">
      <br>
      <button onclick="submit()">Submit</button>
    </div>

</body>
