<head>

</head>
<body>
    <img src= "/res/background.jpg" alt="Not working">
    <p id = "texted">demo</p>
    <button onclick="myFunction()">Submit</button> 
</body>

<script>
function myFunction() {
    document.getElementById("texted").textContent= "Done";
}
</script>