<head>

</head>
<body>
    <button onclick="myFunction()">Submit</button> 
    <p id = "id"></p>
</body>

<script>
function myFunction() {
    document.getElementById("id").textContent= "Done";
}
</script>