<head>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
</head>
<body>
    
    First name: <input type="text" id="fName" value=""><br>
    Last name: <input type="text" id="lName" value=""><br>
    <button onclick="myFunction()">Submit</button>    
    <p id="value1">uh</p>
    <p id="value2">uh</p>

    <script>
    function myFunction() {
        var x = document.getElementById("fName").value;
        var y = document.getElementById("lName").value;
        document.getElementById("value1").innerHTML = x;
        document.getElementById("value2").innerHTML = y;
    }
    </script>
</body>

 