<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
      <li style = "float:right"><a href="/login.hbs">Login</a></li>
    </ul>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
