<head>
</head>
<body>
    <div class = "center" style="background-color: rgb(94, 123, 184); text-align: center;">
        <form action = "/database/login" method = "post">
            <table align="center">
                <tr>
                <td align="right">PassengerID</td>
                <td align="left"><input type="text" name="pid" /></td>
                </tr>
                <tr>
                <td align="right">Password</td>
                <td align="left"><input type="text" name="pass" /></td>
                </tr>
            </table>
            <input type="submit" value="Login"> 
        </form>
        or
        <form action = "/register.hbs">
            <input type="submit"  value="Register"> <br> 
        </form>
    </div>
</body>



