<head>

</head>
<body>
    <form action="actions.php"></form>
    <div class = "center" style="background-color: rgb(94, 123, 184); text-align: center; line-height:2">
        First Name <br>
        <input type="text" id="fName" value=""><br>
        Last Name <br>
        <input type="text" id="lName" value=""> <br>
        Age <br>
        <input type="text" id="age" value=""> <br>
        Gender <br>
        <select id="gender" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        </select><br>
        
        <button onclick="myFunction()">Submit</button>    
    </div>
    
</body>


<script>
function myFunction() {
    var x = document.getElementById("fName").value;
    var y = document.getElementById("lName").value;
    document.getElementById("lgnBtn").textContent = "Welcome " + x;
    document.getElementById("lgnBtn").style.color = "white";
    document.getElementById("lgnBtn").style.padding = "14px";
}
</script>