<head>

</head>
<body>
    <div class = "center">
        <input type="text" id="fName" value="" placeholder="First name"><br>
        <input type="text" id="lName" value="" placeholder="Last name"><br>
        <button onclick="myFunction()">Submit</button>    
    </div>
    
</body>


<script>
function myFunction() {
    var x = document.getElementById("fName").value;
    var y = document.getElementById("lName").value;
    //document.getElementById("lgnBtn").classList.add('navbar-toggle');
    document.getElementById("lgnBtn").textContent = "Welcome " + x;
    //document.getElementById("lgnBtn").innerText = 
    document.getElementById("lgnBtn").style.color = "white";
    document.getElementById("lgnBtn").style.padding = "14px";
}
</script>