<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <ul>
      <li><a href="/">Home</a></li>
      <li id="lgnBtn" style = "float:right"><a href="/login.hbs">{{logged}}</a></li>
    </ul>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
