<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <ul>
      <li><a href="/">Home</a></li>
      <li class=loggedout><a href="/group.hbs">Group</a></li>
      <li class=loggedout><a href="#Transportation">Transportation</a></li>
      <li class=loggedout><a href="/accommodation.hbs">Accommodation</a></li>
      <li class=loggedout><a href="/flight.hbs">Flights</a></li>
      <li class=loggedout><a href="/cruise.hbs">Cruises</a></li>
      <li class=loggedout><a href="/carrental.hbs">Car Rental</a></li>
      <li class=loggedout><a href="/balance.hbs">Card</a></li>
      <li class=loggedout><a href="/employee.hbs">Add employee</a></li>
      <li class=loggedout><a href="/location.hbs">Add location</a></li>
      <li id="lgnBtn" style = "float:right"><a href="/login.hbs">{{logged}}</a></li>
      <li class=loggedout style = "float:right"><a href="/reviews.hbs">Reviews</a></li>
    </ul>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
