body {
  background-image: url("/res/background.jpg");
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(37, 100, 143);
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid rgb(33, 105, 173);
    padding: 10px;
}

li {
  float: left;
}

.navbar-toggle {
  display:none
}

li a {
  margin: 0;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}